<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kit Digital - Inicio</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg px-4">

  <a href="/" class="navbar-brand"><img src="/img/IKONOX-HORIZONTAL-NEGRO-1408122652.png" alt="Ikonox" width="200" height="85" ></a>
  <div class="collapse navbar-collapse  ">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="/">Información</a></li>
      <li class="nav-item"><a class="nav-link" href="/registro-clientes">Registro</a></li>
      <li class="nav-item"><a class="nav-link" href="/listado-clientes">Listado</a></li>
    </ul>
  </div>
  <button style="background-color: #1F435B; color: white;" class="btn ms-2"><a style="text-decoration: none; color: white;" href="https://www.ikonox.com/"target="_blank">Ikonox</a></button>
</nav>
<!-- Sección principal -->
<section class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h1> <br>¿Qué es el Kit Digital?</br> </h1>
      <p>El Kit Digital es una iniciativa del Gobierno de España, enmarcada dentro del Plan de Recuperación, Transformación y Resiliencia, cuyo objetivo es ayudar a pequeñas empresas, microempresas y autónomos a digitalizar sus negocios.</p>

      <p>Consiste en la concesión de ayudas económicas (bonos digitales) para que estas empresas puedan implementar soluciones tecnológicas que mejoren su presencia online, optimicen sus procesos, aumenten su productividad y fomenten la innovación digital.</p>

      <p>Estas ayudas pueden destinarse, por ejemplo, a la creación de páginas web, comercio electrónico, gestión de redes sociales, digitalización de procesos administrativos, ciberseguridad, entre otros.</p>
    </div>

    <div class="col-md-6 text-center">
      <img src="/img/Webinar-Kit-Digital-1-1-1024x1024.png" alt="Imagen explicativa" class="img-fluid" >
    </div>
  </div>
</section>
<!-- Sección de Planes -->
<section class="py-5">
  <div class="container text-center">
    <h2><b>Planes Kit Digital</b></h2>
    <p>Estos son algunos de los planes que presenta el Kit Digital.</p>
    <br>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div style="background-color: #6ae156; color: white; " class="card-header py-3">
            <h4 class="my-0 fw-normal">Gestión de Redes sociales <br>+ Diseño Web<br></h4>
          </div>
          <div class="card-body"> <h1 class="card-title pricing-card-title"> 💻 </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>• Creación y gestión de perfiles en redes sociales (Facebook, Instagram, LinkedIn).</li>
              <li>• Diseño y desarrollo de una página web corporativa o tienda online.</li>
              <li>• Elaboración de campañas de marketing digital y contenido para redes sociales.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div style="background-color: #4ea5c8; color: white; " class="card-header py-3">
            <h4 class="my-0 fw-normal">Diseño Web + <br> Ordenador Portátil  </br> </h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">📈</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>• Diseño y desarrollo de una página web adaptada a dispositivos móviles.</li>
              <li>• Implementación de un sistema de reservas o tienda online en la web.</li>
              <li>• Entrega de un ordenador portátil para gestionar y actualizar la web desde cualquier lugar.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm ">
          <div style="background-color: #E0277B; color: white ;" class="card-header py-3">
            <h4 class="my-0 fw-normal">Gestión de Redes Sociales + Ordenador Portátil</h4>
          </div>
          <div class="card-body">
          <h1 class="card-title pricing-card-title">❗</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>• Planificación y publicación de contenido regular en redes sociales.</li>
            <li>• Monitorización y análisis de métricas de redes para mejorar el alcance y la interacción.</li>
            <li>• Entrega de un ordenador portátil para gestionar y actualizar la web desde cualquier lugar.</li>
          </ul>
        </div>
        </div>
      </div> </div>
    <button style="background-color: #1F435B; color: white; text-decoration: none;" class="btn mt-4"> <a style="text-decoration: none; color: white;" href="/registro-clientes"target="_blank"><b>¡Solicitar Kit Digital!</b></a></button>
  </div>
</section>
<!-- Pie de página -->
<footer class="text-center py-4 mt-5">
  <div class="container">
    <div class="d-flex justify-content-between flex-wrap align-items-center">
      <div><strong></strong></div>
      <div class="d-flex gap-3">
        <img src="/img/IKONOX-HORIZONTAL-NEGRO-1408122652.png" alt="Ikonox" width="200" height="85" >
      </div>
      <div>
        <a href="https://www.instagram.com/ikonox/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/ikonoxmarketingdigital"><i class="bi bi-facebook"></i></a>
        <a href="https://x.com/ikonox_com"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
    <p class="mt-3 mb-0">&copy; 2025. Todos los Derechos Reservados</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>